.image-wrap{
  position: relative;
  border: 2px solid black;
  width: 80%;
  height: 80%;
  margin: 0 auto;

  .top {
    background-color: black;
    color: yellow;
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0 2px;

    z-index: 1;
    font-size: 0.8em;

    line-height: normal;
    div {
      width: 10px;
      img {
        width: 100%;
      }
    }
  }

  .bottom {
    position: absolute;
    display: flex;
    z-index:1;
    right: 0;
    bottom: 0;
    background-color: black;
    padding: 0 6px;
    color: #969696;
    font-size: 0.3em;
    line-height: normal;

    strong {
      padding-left:3px;
      color: white;
      font-size: 2em;
    }
  }
}
$brawlers: 8-bit, shelly, rosa, barley, bo, bea, bibi, bibi, brock, bull, carl, colette, colt, crow, darryl, dynamike, el-primo, emz, frank, gale, gene, jacky, jessie, leon, max, mike, mortis, mr-p, nani, nita, pam, penny, piper, poco, rico, sandy, spike, sprout, surge, tara, tick;

.portrait-wrap{
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;

  @each $item in $brawlers {
    &.brawler-#{$item} {
      background-image: url("../../../../static/Brawler/Portraits/#{$item}.png");
    }
  }
}

.name {
  font-size: 0.3em;
  font-weight: bold;
  line-height: normal;
  text-align: center;
  word-break: keep-all;
}