body {
  margin: 0;
  font-family: 'lilita_oneregular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'lilita_oneregular';
  src: url('./static/fonts/lilitaone-regular-webfont.woff2') format('woff2'),
  url('./static/fonts/lilitaone-regular-webfont.woff') format('woff'),
  url('./static/fonts/lilitaone-regular-webfont.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}