.list-wrap{
  display: flex;
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  &.victory{
    border-left: 5px solid #00b3ff;
  }

  &.lose{
    border-left: 5px solid firebrick;
  }

  //background: url("../../static/MapBanners/map_16.png");
  .game-mode {
    width: 15%;

    .sec1 {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 40%;
      }

      .mode {
        font-size: 1.2em;
        font-weight: bold;
      }
      .title {
        font-size: .7em;
      }
    }
  }

  .brawl-info-wrap{
    width: 50%;
    font-family: 'lilita_oneregular', sans-serif;

    .brawl-profile{
      display: flex;

      .image-wrap{
        position: relative;
        max-width: 100px;

        .top {
          position: absolute;
          display: flex;
          z-index:1;
          top: 0;
          right: 0;
          color:white;
          width: 35px;
        }

        .bottom {
          position: absolute;
          display: flex;
          z-index:1;
          right: 0;
          bottom: 0;
          background-color: black;
          padding: 0 6px;
          color: #969696;
          font-size: 0.5em;

          strong {
            padding-left:3px;
            color: white;
            font-size: 2em;
          }
        }
      }
    }

    .brawl-trp{
      display: flex;
      .image-wrap{
        width: 25px;

      }
    }

  }
}